# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\3_1st_Sem\311\ApesStronk-Mod07-Sample-Files\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
